# Example environment variables
# Do not place actual secrets in here. This# Your Neon PostgreSQL Connection String
DATABASE_URL="postgresql://user:password@ep-cool-butterfly-123456.us-east-2.aws.neon.tech/dbname?sslmode=require"

# Firebase Config
FIREBASE_PROJECT_ID="your-firebase-project-id"
